.navbar{
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__text{
    margin-left: 10px;
    color: rgb(27, 28, 87);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.button{
    height: 34px;
    width: 96px;
    border: 1px solid white;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 24px;
}

.button__green{
    height: 46px;
    width: 107px;
    border: 1px solid white;
    border-radius: 32px;
    background-color: rgb(217, 249, 230);
    color: rgb(52, 118, 89);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
}